body {
    background-image: url(../images/background.jpg);
    color: magenta;
}

.reset {
    margin: auto;
}

a:link {
    color: magenta;
}

/* CSS POINTER */
.class:hover {
    cursor: pointer;
}

.player-card {
    border: 1px solid black;
    background-color: greenyellow;
    opacity: 90%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    /*center cards
    center text*/
} 

.player-card > img{
    height: 200px;

}

.button {
    text-decoration: none;
    color: orange;
    font-weight: bolder;
    background: rgb(0, 132, 255)/*rgb(0, 162, 255)*/;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    margin: auto;
}

.glow-button:hover {
    color: rgb(212, 44, 44);
    box-shadow: 0 5px 15px rgba(255, 115, 0, 0.76);
}