body {
    background-image: url(../images/background.jpg);
    color: magenta;
}

a:link {
    color: magenta;
}

/* CSS POINTER */
.class:hover {
    cursor: pointer;
}

.player-card {
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    /* card shadowing 
    center cards
    center text*/
} 

.player-card > img{
    height: 200px;

}